body{
    color: white;
    text-align: center;
}
#content{
    display: grid;
    grid-template-columns: repeat(35, 1fr);
    /* max-width: 960px; */
    margin: 0 auto;
}

#content div{
    background: rgb(215, 17, 73);
    padding: 18px;
}


#content div:nth-child(n+36){
    background: rgb(195, 15, 66);
}